<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <%- css_tag("/stylesheets/style.css") %>
</head>
<body>
  
</body>
<%- js_tag("/reload/reload.js") %>
</html>